@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
    background-color: wheat;
}

h1 {
    text-align: center;
}

#arr-container {
    padding: 25px;
    background-color: #7170dd;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    margin: 0 auto;
    width: 60vw;
    text-align: center;
}